{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h2 class="ml-3">Les derniers articles sortie</h2>
    <div class="container">
        <div class="row">
            {% for news in lastNews %}
                <div class="card ml-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{news.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ecrit par {{news.user.lastName}} {{news.user.firstName}} {{news.createdAt | ago}} </h6>
                        <p class="card-text">{{news.content}}</p>
                        <a href="/post/{{news.id}}" class="card-link btn btn-primary">Lire l'article</a>
                    </div>
                </div>
            {% endfor %}             
        </div>
    </div>      
{% endblock %}
